<div class="hero-unit">
  <h1>Austin T. Keeley</h1>
  <p>Hi there.  My name is Austin.  I'm a software developer living outside of Washington D.C.  This is my portfolio of
  	software development projects.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>