<style type="text/css">
    .hero-unit {
    	background-image: url(<%= asset_path 'texture2.jpg' %>);

    	color: #FFFFFF;
    	text-shadow: 1px 1px 2px black, 0 0 1em #00003c, 0 0 0.2em #000000;
    }

</style>

<div class="hero-unit">
  <h1>Hi there.</h1>
  <p>My name is Austin T. Keeley.  I'm a software developer living outside of Washington D.C.  This is my portfolio of
  	software development projects.</p>
  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>