<style type="text/css">
	h3.muted {
		color: #5a5a5a;
	}
</style>

<h1>About Me</h1>
<h3 class="muted">The Gist</h3>
<p>I moved to northern Virginia in 2008 after graduating from college and I've been developing software professionally ever since.
	I grew up in Hampton Roads, Virginia.  My first computer was an x86 Cyrix processor (the company doesn't exist anymore) running
	at a blistering 90 MHz.
	I do a lot of web application development these days.  My favorite language at the moment
	is Python, although Ruby is winning me over.  
</p>
<p>Want me to do development or design work for you? Awesome.  Get in touch with me
	over on the <a href="/contact">contact</a> page.  Or take a look at <a href="/code">some of the stuff</a> I've done in the past.
</p>


<h3 class="muted">Education</h3>
<p>MS Computer Science, The Johns Hopkins University, 2011.</p>
<p>BS Computer Science, James Madison University, 2008.</p>

<h3 class="muted">Work Experience</h3>
<p><strong>2008 - Present</strong></p>
<p>Senior Software Engineer, Lockheed Martin</p>
<p><strong>May 2007 - August 2007</strong></p>
<p>Intern, Transparent Logic</p>

<h3 class="muted">Stuff I'm pretty good at</h3>
<ul>
	<li>Java, because everyone loves that, right?</li>
	<li>Python, probably my favorite language these days</li>
	<li>Ruby</li>
	<li>JavaScript</li>
	<li>HTML, CSS</li>
	<li>C (and to some degree, C++)</li>
	<li>Django</li>
	<li>Rails (you're looking at it now)</li>
	<li>Bootstrap</li>
	<li>jQuery</li>
	<li>Dojo</li>
	<li>Linux distros of all shapes and sizes.  Currently I'm using Ubuntu 12.04 for my daily use</li>
	<li>git</li>
	<li>SQL</li>
	<li>Brewing coffee</li>
</ul>
<h3 class="muted">Stuff I'm okay at, but I don't like</h3>
<ul>
	<li>XSLT, holy crap who decided this was a good idea?</li>
	<li>Adobe Flex (or is it Apache Flex now?  Whatever.)</li>
	<li>PHP</li>
	<li>Developing for IE 8 or earlier</li>
</ul>
<h3 class="muted">I want to network with you socially</h3>
<p>Uhh... okay.</p>
<p><i class="icon-twitter-sign icon-2x"></i>  Twitter: <a href="http://twitter.com/austin_keeley">@austin_keeley</a><br />
<i class="icon-facebook-sign icon-2x"></i> The Facebook: <a href="http://facebook.com/austin.keeley">austin.keeley</a><br />
<i class="icon-github-sign icon-2x"></i> GitHub: <a href="http://github.com/austinkeeley">austinkeeley</a><br />
<i class="icon-linkedin-sign icon-2x"></i> LinkedIn: <a href="https://www.linkedin.com/in/austinkeeley">Austin Keeley</a><br />

<h3 class="muted">Recent and not-so-recent accomplishments</h3>
<ul>
	<li>My team placed first at Startup Weekend Richmond 2013 with our startup StreetFoodSpotter.com, a logistics software suite
		for food truck vendors and foodies.</li>
	<li>My team placed third at Startup Weekend Fredericksburg 2013 with our startup FlashThrift.com, a micro e-commerce site for
		impulse purchases.</li>
	<li>I once almost talked my way out of a speeding ticket by telling the police officer that I was rushing home at 80 mph to
		watch the premire episode of American Gladiators.</li>
</ul>


<h3 class="muted">Let's see some flair</h3>
<a href="http://stackexchange.com/users/1997971">
<img src="http://stackexchange.com/users/flair/1997971.png" width="208" height="58" alt="profile for austin on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for austin on Stack Exchange, a network of free, community-driven Q&amp;A sites">
</a>

  <h3 class="muted">Can I hire you to build my website or code my startup?</h3>
  <p>Sure.  Find me on the social media, or hit me up on <a href="/contact">my contact page</a>.</p>