<h1>Code and Design Portfolio</h1>

<p>Here are some things I've done in my spare time (e.g. not at my paying software engineering job).</p>
<p>Also, here's my GitHub profile:</p>
<i class="icon-github icon-2x"></i> GitHub: <a href="http://github.com/austinkeeley">austinkeeley</a><br /><br />

<p><a href="http://austinkeeley.com">Austin Keeley dot com</a>
<br />
You're already looking at it.  I threw this together 
to get all my stuff organized.</p>
<p>The stack:</p>
<ul>
	<li>Ruby on Rails</li>
	<li>Bootstrap 3.2</li>
	<li>jQuery</li>
	<li>Font-Awesome</li>
	<li>HTML5/CSS</li>

</ul>

<br />
<p><a href="http://espressoninja.com">EspressoNinja.com</a>
<br />
A blog I made while learning Django.  I'll probably switch it over to Rails.</p>
<p>The stack:</p>
<ul>
	<li>Django</li>
	<li>Python</li>
	<li>Blueprint CSS</li>
	<li>OpenShift</li>
</ul>

<br />
<p><a href="#">KML Fiddle</a>
<br />
There are fiddles for everything now, but not KML, so I decided to build one.</p>
<p>The stack:</p>
<ul>
	<li>Ruby on Rails</li>
	<li>Bootstrap 3.2</li>
	<li>Google Maps API</li>
</ul>


<br />
<p><a href="http://streetfoodspotter.com">Street Food Spotter</a>
<br />
This won first place at Startup Weekend Richmond in July 2013.  It's logistics software for food truck vendors in Richmond, VA.</p>
<p>The stack:</p>
<ul>
	<li>Django</li>
	<li>Python</li>
	<li>Google Maps API</li>
	<li>Bootstrap</li>
	<li>Amazon AWS</li>
</ul>

<br />
<p><a href="http://flashthrift.com">Flash Thrift</a>
<br />
This won third place at Startup Weekend Fredericksburg in June 2013.</p>
<p>The stack:</p>
<ul>
	<li>CakePHP</li>
	<li>Bootstrap</li>
	<li>jQuery</li>
	<li>FortRabbit</li>
</ul>

<br />
<p>Voz Local
<br />
This was an entry for #FreedomHack in August 2013 in Washington D.C.  It didn't win anything :(</p>
<p>The stack:</p>
<ul>
	<li>Ruby on Rails</li>
	<li>Bootstrap 3.2</li>
	<li>Twilio</li>
	<li>Font-Awesome</li>
	<li>SQLite</li>
	<li>HTML5/CSS</li>
</ul>