<!-- Code for submitting the form with jQuery -->
<script type="text/javascript">
    function send_contact_form(event) {
        $.post('/contact/submit', $('#contactForm').serialize());
    }
</script>

<!-- modal contact form -->
<div id="contactFormModal" class="modal hide fade" tabindex="-1" role="dialog">
	<form id="contactForm">
	    <div class="modal-header">
	    	<button type="button" class="close" data-dismiss="modal">x</button>
	    	<h3>Contact Austin</h3>
	    </div>
	    <div class="modal-body">
	    	<input type="text" placeholder="Your email address" required>
	    	<textarea style="width: 97%" rows="17" placeholder="Don't you hate these things? I can never tell if the person is going to actually read my message and maybe I'm just talking to some dusty old server that someone forgot to switch off.  Don't worry!  I actually do read these messages!  I just have to use this to keep the spammers away."></textarea>
	    </div>
	    <div class="modal-footer">
	    	<button class="btn" data-dismiss="modal">Cancel</button>
	    	<button class="btn btn-primary" data-dismiss="modal" onclick="send_contact_form(event)">Send</button>
	    </div>
	</form>
</div>




<h1>Contact me</h1>
<p>Want to chat about life? Or hire me to build you a website so you can become a billionare?  Let's do this.</p>

<p>The easiest way to get on contact with me is probably Twitter, which is kind of sad, but hey, it keeps the spam out
	and works for everyone's attention span.</p>

<p><i class="icon-twitter icon-2x"></i>  Twitter: <a href="http://twitter.com/austin_keeley">@austin_keeley</a></p>

<p>Too cool for Twitter?  That's okay.  I'm on a billion other social networks.</p>
<i class="icon-google-plus-sign icon-2x"></i> Google Plus: <a href="https://plus.google.com/u/0/107467112833265523921">Austin Keeley</a><br />
<i class="icon-facebook-sign icon-2x"></i> The Facebook: <a href="http://facebook.com/austin.keeley">austin.keeley</a><br />
<i class="icon-github icon-2x"></i> GitHub: <a href="http://github.com/austinkeeley">austinkeeley</a><br />
<i class="icon-linkedin icon-2x"></i> LinkedIn: <a href="https://www.linkedin.com/in/austinkeeley">Austin Keeley</a>

<br /><br />



<p>Oh, and you can <a href="#contactFormModal" data-toggle="modal">email me</a> I guess</p>