<h1>Contact me</h1>
<p>Want to chat about life? Or hire me to build you a website so you can become a billionare?  Let's do this.</p>

<p>The easiest way to get on contact with me is probably Twitter, which is kind of sad, but hey, it keeps the spam out
	and works for everyone's attention span.</p>

<p><i class="icon-twitter icon-2x"></i>  Twitter: <a href="http://twitter.com/austin_keeley">@austin_keeley</a></p>

<p>Too cool for Twitter?  That's okay.  I'm on a billion other social networks.</p>
<i class="icon-google-plus-sign icon-2x"></i> Google Plus: <a href="https://plus.google.com/u/0/107467112833265523921">Austin Keeley</a><br />
<i class="icon-facebook-sign icon-2x"></i> The Facebook: <a href="http://facebook.com/austin.keeley">austin.keeley</a><br />
<i class="icon-github icon-2x"></i> GitHub: <a href="http://github.com/austinkeeley">austinkeeley</a><br />
<i class="icon-linkedin icon-2x"></i> LinkedIn: <a href="https://www.linkedin.com/in/austinkeeley">Austin Keeley</a>

<br /><br />



<p>Oh and you can <a href="#">email me</a> I guess</p>