<%= render 'shared/hero' %>


<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Code</h2>
    <p>I'm a professional software engineer.  I have a ton of experience doing Java EE development, along with more exciting
    	things like Ruby, Python, JavaScript, jQuery, Rails and Django.</p>
    <p><a class="btn" href="/code">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Blog</h2>
    <p>I have a blog about software development and various things at my other website, EspressoNinja.com.</p>
    <p><a class="btn" href="#">View details &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>About</h2>
      <p>Want to know more about me or get in contact?  I've got a page full of facts.</p>
      <p><a class="btn" href="/about">View details &raquo;</a></p>
   </div>
</div>